name: Docker Build

on:
  push:
    branches: ["main"]
    paths: ["Dockerfile", "requirements.txt", "src/**"]
  pull_request:
    branches: ["main"]

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image (Dry Run)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: retina-ux:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
